<!DOCTYPE html>
<!--xmlns:th="http://www.w3.org/1999/xhtml"  用于引入thymeleaf-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--    Semantic的CSS包-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<!--****** 导包 ******-->
<!--    Semantic的JS包-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--    JQuery包-->
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>


<div class="ui container">
    <div class="ui attached segment">
        <h1>欢迎来到Mo图书管理系统！</h1>
        <div>
            <a href="#" th:href="@{/books}">
                <div class="ui button">
                    <i class="huge archive icon"></i>
                    <a>书籍列表</a>
                </div>
            </a>
            <a>
                <div class="ui button">
                    <i class="huge shop icon"></i>
                    <a>书籍借阅</a>
                </div>
            </a>
            <a>
                <div class="ui button">
                    <i class="huge user icon"></i>
                    <a>用户中心</a>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>