.LenCssButton-position-right-top{
    position:absolute !important;
    top:0 !important;
    right:0 !important;
}

.LenCssButton-length-middle{

}

.LenCssButton-padding-middle{
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}