/*.LenCssLogic-mobile-hide{*/
/*    display: inline-block !important;*/
/*}*/

@media screen and (max-width: 768px){
    .LenCssLogic-mobile-hide{
        display: none !important;
    }
    .LenCssLogic-mobile-show{
        display: block !important;
    }
}

.LenCssLogic-mobile-show{
    display: none !important;
}