<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--    用于设置尺寸适配移动端-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>类别列表</title>
    <!--Semantic的CSS包-->
    <link rel="stylesheet" href="../../static/lib/Semantic_UI_CSS_master/semantic.min.css" th:href="@{/lib/Semantic_UI_CSS_master/semantic.min.css}">
    <!--    自定义CSS导入。必须加rel="stylesheet"才可以生效！-->
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../../static/css/text.css" th:href="@{/css/text.css}">
    <link rel="stylesheet" href="../../static/css/logic.css" th:href="@{/css/logic.css}">
    <link rel="stylesheet" href="../../static/css/button.css" th:href="@{/css/button.css}">
    <link rel="stylesheet" href="../../static/css/display.css" th:href="@{/css/display.css}">
    <link rel="stylesheet" href="../../static/css/LRMme.css" th:href="@{/css/LRMme.css}">
    <link rel="stylesheet" href="../../static/css/LRManimate.css" th:href="@{/css/LRManimate.css}">
    <link rel="stylesheet" href="../../static/css/LRMtypo.css" th:href="@{/css/LRMtypo.css}">
</head>
<body>
<!--****** 导包 ******-->
<!--    JQuery包-->
<script src="../../static/lib/jquery/jquery_3.6.0.min.js" th:src="@{/lib/jquery/jquery_3.6.0.min.js}"></script>
<!--    Semantic的JS包-->
<script src="../../static/lib/Semantic_UI_CSS_master/semantic.min.js" th:src="@{/lib/Semantic_UI_CSS_master/semantic.min.js}"></script>

<!--****** 导航 ******-->
<!--
ui:表示调用Semantic的导航模版
inverted:表示导航采用白色反转的颜色——黑色
attached:轨道可以依附在主窗口
-->
<nav class="ui inverted attached segment LenCSS-m-padded-tb-mini LenCssDisplay-shadow-middle">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui blue header item">LenCloud Admin</h1>
            <a href="#" id="a_top_label5" class="item LenCssLogic-mobile-hide" th:href="@{/}"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/admin/admin_article}" id="a_top_label1" class="item LenCssLogic-mobile-hide"><i class="book icon"></i>文章管理</a>
            <a href="#" th:href="@{/admin/papers}" id="a_top_label2" class="item LenCssLogic-mobile-hide"><i class="file icon"></i>文献管理</a>
            <a href="#" th:href="@{/admin/admin_types}" id="a_top_label3" class="item active LenCssLogic-mobile-hide"><i class="idea icon"></i>分类管理</a>
            <a href="#" th:href="@{/admin/admin_tags}" id="a_top_label4" class="item LenCssLogic-mobile-hide"><i class="tags icon"></i>标签管理</a>
            <div id="div_dropdown_user_label" class="right menu LenCssLogic-mobile-hide">
                <div id="dropdown_user_label" class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/image/icon_little/icon020.png" class="ui avatar image" th:src="${session.user.avatar}">
                        <span th:text="${session.user.nickname}">用户名</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" th:href="@{/admin/logout}">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="button_sidebar" class="ui black icon button LenCssButton-position-right-top LenCssLogic-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/admin_types}" class="teal active item">列表</a>
            <a href="#" th:href="@{/admin/admin_types_input}" class="item">新增</a>
        </div>
    </div>
</div>








<!--****** 中间内容 ******-->
<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
        <table class="ui compact teal table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <!--iterStat.count就是获取循环中的index：123456...-->
                <td th:text="${type.name}">刻意练习清单</td>
                <td>
                    <a href="#" th:href="@{/admin/admin_types/{id}/admin_types_input(id=${type.id})}" class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/admin_types/{id}/delete(id=${type.id})}" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6" >
                    <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                        <!--设置有下一页内容时，下一页按钮显示；有上一页内容时，上一页按钮显示。                        -->
                        <a th:href="@{/admin/admin_types(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                        <!--page.number就是当前在page的第几页，-1就获得了上一页的地址-->
                        <a th:href="@{/admin/admin_types(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页</a>
                    </div>
                    <a href="#" th:href="@{/admin/admin_types_input}"  class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>








<!--****** 底部footer ******-->
<footer class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <!--        grid一共有16份-->
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <img src="../../static/image/index/bottom_code.jpg" th:src="@{/image/index/bottom_code.jpg}" class="ui rounded image" alt="" style="width: 7em">
            </div>

            <div class="ui four wide column">
                <h4 class="ui inverted header LenCSS-Text-little-header">承办方</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Len Studio</a>
                    <a href="#" class="item">IOT研究组</a>
                    <a href="#" class="item">中石油集团</a>
                </div>
            </div>

            <div class="ui four wide column">
                <h4 class="ui inverted header LenCSS-Text-little-header">用户服务</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">云平台公告</a>
                    <a href="#" class="item">反馈与建议</a>
                    <a href="#" class="item">管理员申请</a>
                </div>
            </div>

            <div class="ui four wide column">
                <h4 class="ui inverted header LenCSS-Text-little-header">关于LenCloud</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">云平台简介</a>
                    <a href="#" class="item">联系开发者</a>
                    <a href="#" class="item">隐私与政策</a>
                </div>
            </div>
        </div>
        <br>
        <p class="LenCssText-Opacity-L">Copyright © 2021-2023 LenCloud designed by boyLen</p>
    </div>
</footer>




<script>
    $('#button_sidebar').click(function () {
        $('#a_top_label1, #a_top_label2, #a_top_label3, #a_top_label4, #a_top_label5, #div_dropdown_user_label').toggleClass('LenCssLogic-mobile-hide');
    });

    $('#dropdown_user_label.dropdown').dropdown({
        on : 'hover'
    });

    $(function(){
        $('.ui.selection.dropdown').dropdown();
    });

    //消息提示关闭初始化
    $('.message .close') // !!! 必须要有这个空格
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>

</body>
</html>