.volume-medium{
    font-size: 100%;
}

.volume-big-level1{
    font-size: 130%;
}

.volume-big-level2{
    font-size: 150%;
}

.volume-huge-level1{
    font-size: 300%;
}


.color-black{
    color: black;
}