<!DOCTYPE html>
<!-- LenUpdate: 文章部分为动态内容，将index的内容承接了过来 -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--    用于设置尺寸适配移动端-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <!--    Semantic的CSS包-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--    自定义CSS导入。必须加rel="stylesheet"才可以生效！-->
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../../static/css/text.css" th:href="@{/css/text.css}">
    <link rel="stylesheet" href="../../static/css/logic.css" th:href="@{/css/logic.css}">
    <link rel="stylesheet" href="../../static/css/button.css" th:href="@{/css/button.css}">
    <link rel="stylesheet" href="../../static/css/display.css" th:href="@{/css/display.css}">
    <link rel="stylesheet" href="../../static/css/LRMme.css" th:href="@{/css/LRMme.css}">
    <link rel="stylesheet" href="../../static/css/LRManimate.css" th:href="@{/css/LRManimate.css}">
    <link rel="stylesheet" href="../../static/css/LRMtypo.css" th:href="@{/css/LRMtypo.css}">
</head>
<body>
<!--****** 导包 ******-->
<!--    Semantic的JS包-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--    JQuery包-->
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

<!--****** 导航 ******-->
    <!--
    ui:表示调用Semantic的导航模版
    inverted:表示导航采用白色反转的颜色——黑色
    attached:轨道可以依附在主窗口
    -->
<nav class="ui inverted attached segment LenCSS-m-padded-tb-mini LenCssDisplay-shadow-middle">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui blue header item">LenCloud</h1>
            <a href="#" id="a_top_label1" class="active item LenCssLogic-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" id="a_top_label2" class="item LenCssLogic-mobile-hide"><i class="idea icon"></i>功能</a>
            <a href="#" id="a_top_label3" class="item LenCssLogic-mobile-hide"><i class="tags icon"></i>系统</a>
            <a href="#" id="a_top_label4" class="item LenCssLogic-mobile-hide"><i class="info icon"></i>文章</a>
            <a href="#" id="a_top_label5" class="item LenCssLogic-mobile-hide"><i class="info icon"></i>关于</a>
            <div id="div_search1" class="right LenCssLogic-mobile-hide item">
                <form name="form_search1" action="#" th:action="@{/search}" method="post" target="_blank">
                    <div class="ui icon inverted transparent input">
                        <input type="text" name="query" placeholder="搜索内容" th:value="${query}">
                        <i onclick="document.forms['form_search1'].submit()" class="search inverted link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" id="button_sidebar" class="ui black icon button LenCssButton-position-right-top LenCssLogic-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>





<!--****** 中间内容 ******-->
<div class="LenCSS-Pad-middle-div1">

    <!--****** 中间内容-任务状态部分 ******-->
    <div class="ui container">
        <!-- container要包含下面两个侧栏。container可以更好适配屏幕尺寸-->
        <!-- 文章列表头部     top attached搭配下面“文章列表本体”，用于让两者连接起来-->
        <div class="ui top attached segment">
            <!-- 配置grid -->
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h2 class="ui red header">状态</h2>
                </div>
                <div class="right aligned column">
                    <h3 class="ui red header LenCSS-Pad-middle-blog-left-front">3</h3>项任务
                </div>
            </div>
        </div>

        <!-- 状态区主体 -->
        <div class="ui attached segment">
            <!-- 用户状态列表（正在运行、最近使用） -->
            <div class="ui cards">
                <!-- 1.正在运行 -->
                <div class="ui card">
                    <div class="image dimmable">
                        <div class="ui blurring inverted dimmer transition hidden">
                            <div class="content">
                                <div class="center">
                                    <div class="ui teal button">继续任务</div>
                                </div>
                            </div>
                        </div>
                        <img src="../../static/image/module/clowdflows/web_editor_01.jpg" th:src="@{/image/module/clowdflows/web_editor_01.jpg}">
                    </div>
                    <div class="content">
                        <div class="header">生成对抗网络曲面拟合</div>
                        <div class="meta">
                            <a class="group">运行环境 : Anaconda-Python37</a>
                        </div>
                        <div class="description">程序说明 : 设计优化的生成对抗网络架构，实现稀疏地震数据超分辨率重建。</div>
                    </div>
                    <div class="ui extra content">
                        <i class="red play icon"></i> 正在运行
                    </div>
                </div>

                <!-- 2.正在运行 -->
                <div class="ui card">
                    <div class="image dimmable">
                        <div class="ui blurring inverted dimmer transition hidden">
                            <div class="content">
                                <div class="center">
                                    <div class="ui teal button">继续任务</div>
                                </div>
                            </div>
                        </div>
                        <img src="../../static/image/module/clowdflows/web_editor_01.jpg" th:src="@{/image/module/clowdflows/web_editor_01.jpg}">
                    </div>
                    <div class="content">
                        <div class="header">曲波变换数据去噪</div>
                        <div class="meta">
                            <a class="group">运行环境 : Matlab 2021a</a>
                        </div>
                        <div class="description">程序说明 : 设计优化的生成对抗网络架构，实现稀疏地震数据超分辨率重建。</div>
                    </div>
                    <div class="extra content">
                        <i class="red play icon"></i> 正在运行
                    </div>
                </div>

                <!-- 3.等待队列 -->
                <div class="ui card">
                    <div class="image dimmable">
                        <div class="ui blurring inverted dimmer transition hidden">
                            <div class="content">
                                <div class="center">
                                    <div class="ui teal button">继续任务</div>
                                </div>
                            </div>
                        </div>
                        <img src="../../static/image/module/clowdflows/web_editor_01.jpg" th:src="@{/image/module/clowdflows/web_editor_01.jpg}">
                    </div>
                    <div class="content">
                        <div class="header">加权抛物Radon变换</div>
                        <div class="meta">
                            <a class="group">运行环境 : 暂未运行</a>
                        </div>
                        <div class="description">程序说明 : 于部分动校正(NMO)后反射同相轴在CMP道集上的抛物线走时近似。</div>
                    </div>
                    <div class="extra content">
                        <i class="pause icon"></i> 等待队列
                    </div>
                </div>
            </div>
            <br><!-- 系统状态列表（正在运行、正在队列、可用资源） -->
        </div>
        <br>
    </div>

    <!--****** 中间内容-功能部分 ******-->
    <div class="ui container">
        <!-- container要包含下面两个侧栏。container可以更好适配屏幕尺寸-->
        <!-- 文章列表头部     top attached搭配下面“文章列表本体”，用于让两者连接起来-->
        <div class="ui top attached segment">
            <!-- 配置grid -->
            <div class="ui middle aligned two column grid ">
                <div class="column">
                    <h2 class="ui blue header">功能</h2>
                </div>
                <div class="right aligned column">
                    共<h2 class="ui blue header LenCSS-Pad-middle-blog-left-front">5</h2>页
                </div>
            </div>
        </div>

        <!-- 功能区主体 -->
        <div class="ui attached segment">
            <!-- 功能列表 -->
            <div>
                <button class="ui facebook button">
                    <div class="ui items">
                        <div class="item">
                            <i class="huge random icon"></i>
                        </div>
                        <div class="item">
                            <h2>工作流编辑器</h2>
                        </div>
                    </div>
                </button>

                <button class="ui brown button">
                    <div class="ui items">
                        <div class="item">
                            <i class="huge sitemap icon"></i>
                        </div>
                        <div class="item">
                            <h2>分布式集群</h2>
                        </div>
                    </div>
                </button>

                <button class="ui linkedin button">
                    <div class="ui items">
                        <div class="item">
                            <i class="huge edit icon"></i>
                        </div>
                        <div class="item">
                            <h2>自定义模块</h2>
                        </div>
                    </div>
                </button>

                <button class="ui teal button">
                    <div class="ui items">
                        <div class="item">
                            <i class="huge images icon"></i>
                        </div>
                        <div class="item">
                            <h2>可视化绘图</h2>
                        </div>
                    </div>
                </button>

                <button class="ui orange button">
                    <div class="ui items">
                        <div class="item">
                            <i class="huge database icon"></i>
                        </div>
                        <div class="item">
                            <h2>MySQL数据库</h2>
                        </div>
                    </div>
                </button>

                <button class="ui olive button">
                    <div class="ui items">
                        <div class="item">
                            <i class="huge puzzle piece icon"></i>
                        </div>
                        <div class="item">
                            <h2>外部插件挂载</h2>
                        </div>
                    </div>
                </button>
            </div>
        </div>

        <!--                左侧栏的最底部【翻页按钮部分】-->
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>
    </div>
    <br>


    <!--****** 中间内容-博客部分 ******-->
    <div class="ui container">
        <!--        container要包含下面两个侧栏。container可以更好适配屏幕尺寸-->
        <div class="ui stackable grid">
            <!--        左侧栏-->
            <div class="eleven wide column">
                <!--                文章列表头部     top attached搭配下面“文章列表本体”，用于让两者连接起来-->
                <div class="ui top attached segment">
                    <!--                    配置grid-->
                    <div class="ui middle aligned two column grid ">
                        <div class="column">
                            <h2 class="ui teal header">文章</h2>
                        </div>
                        <div class="right aligned column">
                            共<h2 class="ui orange header LenCSS-Pad-middle-blog-left-front" th:text="${page.totalElements}">99</h2>篇
                        </div>
                    </div>
                </div>

                <!--                左侧栏的文章展示部分[内容主体]-->
                <div class="ui attached segment">
                    <!--                    每个小文章块【重复块】-->
                    <div class="ui padded vertical segment" th:each="blog : ${page.content}">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h2 class="ui header"><a href="#" th:href="@{/article/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">深度学习 （人工神经网络的研究的概念）</a></h2>
                                <p>深度学习(DL, Deep Learning)是机器学习(ML, Machine Learning)领域中一个新的研究方向，它被引入机器学习使其更接近于最初的目标——人工智能(AI, Artificial Intelligence)。 [1]
                                    深度学习是学习样本数据的内在规律和表示层次，这些学习过程中获得的信息对诸如文字，图像和声音等数据的解释有很大的帮助。它的最终目标是让机器能够像人一样具有分析学习能力，能够识别文字、图像和声音等数据。 深度学习是一个复杂的机器学习算法，在语音和图像识别方面取得的效果，远远超过先前相关技术。</p>
                                <!--                                文章块下的参数，如阅读量、作者-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list ">
                                            <div class="item">
                                                <img src="https://picsum.photos/200/300" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">百度百科</a> </div>
                                            </div>

                                            <div class="item">
                                                <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-05-22</span>
                                            </div>
                                            <div class="item"><i class="eye icon"></i><span th:text="${blog.views}">6485</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label" th:text="${blog.type.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" th:href="@{/admin_article/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://picsum.photos/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h2 class="ui header">深度学习 （人工神经网络的研究的概念）</h2>
                                <p>深度学习(DL, Deep Learning)是机器学习(ML, Machine Learning)领域中一个新的研究方向，它被引入机器学习使其更接近于最初的目标——人工智能(AI, Artificial Intelligence)。 [1]
                                    深度学习是学习样本数据的内在规律和表示层次，这些学习过程中获得的信息对诸如文字，图像和声音等数据的解释有很大的帮助。它的最终目标是让机器能够像人一样具有分析学习能力，能够识别文字、图像和声音等数据。 深度学习是一个复杂的机器学习算法，在语音和图像识别方面取得的效果，远远超过先前相关技术。</p>
                                <!--                                文章块下的参数，如阅读量、作者-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list ">
                                            <div class="item">
                                                <img src="https://picsum.photos/200/300" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">百度百科</a> </div>
                                            </div>
                                            <div class="item"><i class="calendar icon"></i> 2021-05-22</div>
                                            <div class="item"><i class="eye icon"></i> 6485</div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/800/450" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h2 class="ui header">深度学习 （人工神经网络的研究的概念）</h2>
                                <p>深度学习(DL, Deep Learning)是机器学习(ML, Machine Learning)领域中一个新的研究方向，它被引入机器学习使其更接近于最初的目标——人工智能(AI, Artificial Intelligence)。 [1]
                                    深度学习是学习样本数据的内在规律和表示层次，这些学习过程中获得的信息对诸如文字，图像和声音等数据的解释有很大的帮助。它的最终目标是让机器能够像人一样具有分析学习能力，能够识别文字、图像和声音等数据。 深度学习是一个复杂的机器学习算法，在语音和图像识别方面取得的效果，远远超过先前相关技术。</p>
                                <!--                                文章块下的参数，如阅读量、作者-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list ">
                                            <div class="item">
                                                <img src="https://picsum.photos/200/300" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">百度百科</a> </div>
                                            </div>
                                            <div class="item"><i class="calendar icon"></i> 2021-05-22</div>
                                            <div class="item"><i class="eye icon"></i> 6485</div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/800/450" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                左侧栏的最底部【翻页按钮部分】-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--        右侧栏-->
            <div class="five wide column">
                <!--                分类栏-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank">更多<i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--                分类栏内容-->
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>
                            <a href="#" class="item">学习日志<div class="ui teal basic left pointing label">13</div></a>
                        </div>
                    </div>
                </div>
                <!--                标签栏-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank">更多<i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--                    左侧标签-->
                    <div class="ui teal segment">
                        <!-- ${tags}是model.addAttribute传递来的键值对 -->
                        <a href="#" target="_blank" class="ui teal basic left pointing label LenCSS-Margin-TopBottom-L" th:each="tag : ${tags}">
                            <!-- $tag.name中的tag是th:each="tag : ${tags}"中的tag -->
                            <span th:text="${tag.name}">方法论</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label LenCSS-Margin-TopBottom-L">方法论<div class="detail">23</div> </a>
                    </div>
                </div>

                <!--                    左侧 最新推荐栏-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a href="#" th:href="@{/admin_article/{id}(id=${blog.id})}" target="_blank" class="LenCssText-color-black" th:text="${blog.title}">超级红月亮“邂逅”月全食</a>
                    </div>
                    <div class="ui segment"><a href="#" target="_blank" class="LenCssText-color-black">日俄船只相撞致3名日渔民遇难</a></div>
                    <div class="ui segment"><a href="#" target="_blank" class="LenCssText-color-black">论文查重费一年内暴涨10倍</a></div>
                    <div class="ui segment"><a href="#" target="_blank" class="LenCssText-color-black">中国5G手机终端达3.1亿</a></div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--****** 底部footer ******-->
<footer class="ui inverted vertical segment">
    <div class="ui center aligned container">
<!--        grid一共有16份-->
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <img src="../../static/image/index/bottom_code.png" th:src="@{/image/index/bottom_code.png}" class="ui rounded image" alt="" style="width: 7em">
            </div>

            <div class="ui four wide column">
                <h4 class="ui inverted header LenCSS-Text-little-header">承办方</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">IOT研究组</a>
                    <a href="#" class="item">UPC地学院</a>
                    <a href="#" class="item">中石油集团</a>
                </div>
            </div>

            <div class="ui four wide column">
                <h4 class="ui inverted header LenCSS-Text-little-header">用户服务</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">云平台 公告</a>
                    <a href="#" class="item">反馈与建议</a>
                    <a href="#" class="item">管理员申请</a>
                </div>
            </div>

            <div class="ui four wide column">
                <h4 class="ui inverted header LenCSS-Text-little-header">关于LenCloud</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">云平台简介</a>
                    <a href="#" class="item">联系开发者</a>
                    <a href="#" class="item">隐私与政策</a>
                </div>
            </div>
        </div>
        <br>
        <p class="LenCssText-Opacity-L">Copyright © 2021-2023 LenCloud designed by boyLen</p>
    </div>
</footer>

<script>
    $('#button_sidebar').click(function () {
        $('#a_top_label1, #a_top_label2, #a_top_label3, #a_top_label4, #a_top_label5, #div_search1').toggleClass('LenCssLogic-mobile-hide');
    })
</script>

</body>
</html>