.vertical-pad-middle{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.vertical-pad-small-level3{
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important;
}

.vertical-pad-small-level2{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}