<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--    用于设置尺寸适配移动端-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <!--Semantic的CSS包-->
    <link rel="stylesheet" href="../../static/lib/Semantic_UI_CSS_master/semantic.min.css" th:href="@{/lib/Semantic_UI_CSS_master/semantic.min.css}">
    <!--    自定义CSS导入。必须加rel="stylesheet"才可以生效！-->
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../../static/css/text.css" th:href="@{/css/text.css}">
    <link rel="stylesheet" href="../../static/css/logic.css" th:href="@{/css/logic.css}">
    <link rel="stylesheet" href="../../static/css/button.css" th:href="@{/css/button.css}">
    <link rel="stylesheet" href="../../static/css/display.css" th:href="@{/css/display.css}">
    <link rel="stylesheet" href="../../static/css/LRMme.css" th:href="@{/css/LRMme.css}">
    <link rel="stylesheet" href="../../static/css/LRManimate.css" th:href="@{/css/LRManimate.css}">
    <link rel="stylesheet" href="../../static/css/LRMtypo.css" th:href="@{/css/LRMtypo.css}">
</head>
<body>
<!--****** 导包 ******-->
<!--    JQuery包-->
<script src="../../static/lib/jquery/jquery_3.6.0.min.js" th:src="@{/lib/jquery/jquery_3.6.0.min.js}"></script>
<!--    Semantic的JS包-->
<script src="../../static/lib/Semantic_UI_CSS_master/semantic.min.js" th:src="@{/lib/Semantic_UI_CSS_master/semantic.min.js}"></script>

<br>
<br>
<br>
<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ur container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h1 class="ui teal image header">
                    <div class="ui teal header item">用户登录</div>
                </h1>
                <br>
                <br>
                <form class="ui large form" method="post" action="#" th:action="@{/user/login_post}">
                    <div class="ui  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">登   录</button>

                        <div class="ui grid">
                            <div class="left aligned four wide column">
                                <a class="ui" href="#" th:href="@{/user/register_get}">注册账户</a>
                            </div>
                            <div class="eight wide column"></div>
                            <div class="right aligned four wide column">
                                <a class="ui" href="#" th:href="@{/user/register_get}">忘记密码？</a>
                            </div>
                        </div>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>
                </form>

            </div>
        </div>
    </div>
</div>


<script>
    $('.ui.form').form({
        fields : {
            username : {
                identifier: 'username',
                rules: [{
                    type : 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password : {
                identifier: 'password',
                rules: [{
                    type : 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });
</script>

</body>
</html>