<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>地球物理技术中台</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/lib/thirdpart/feather/feather.css" th:href="@{/lib/thirdpart/feather/feather.css}">
    <link rel="stylesheet" href="../static/lib/thirdpart/mdi/css/materialdesignicons.min.css" th:href="@{/lib/thirdpart/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" href="../static/lib/thirdpart/ti-icons/css/themify-icons.css" th:href="@{/lib/thirdpart/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" href="../static/lib/thirdpart/typicons/typicons.css" th:href="@{/lib/thirdpart/typicons/typicons.css}">
    <link rel="stylesheet" href="../static/lib/thirdpart/simple-line-icons/css/simple-line-icons.css" th:href="@{/lib/thirdpart/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" href="../static/lib/thirdpart/css/vendor.bundle.base.css" th:href="@{/lib/thirdpart/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/js/select.dataTables.min.css" th:href="@{/js/select.dataTables.min.css}">
    <!-- End plugin css for this page -->
    <link rel="stylesheet" href="../static/css/thridpart/vertical-layout-light/style.css" th:href="@{/css/thridpart/vertical-layout-light/style.css}">
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row" th:fragment="replacerOfNavbar">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <div class="me-3">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <div>
                <a class="navbar-brand brand-logo" href="index.html">
                    <h3 class="ui blue header item">LenCloud</h3>
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <h3 class="ui blue header item">LenCloud</h3>
                </a>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                    <h1 class="welcome-text">欢迎,
                        <span class="text-black fw-bold" th:text="*{session.user}==null ? '访客' : ${session.user.username}">John Doe</span>
                    </h1>
                    <h3 class="welcome-sub-text">Your performance summary this week </h3>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item d-none d-lg-block">
                    <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
                        <span class="input-group-addon input-group-prepend border-right">
                            <span class="icon-calendar input-group-text calendar-icon"></span>
                        </span>
                        <input type="text" class="form-control">
                    </div>
                </li>

                <li class="nav-item">
                    <form class="search-form" action="#">
                        <i class="icon-search"></i>
                        <input type="search" class="form-control" placeholder="Search Here" title="Search here">
                    </form>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                        <i class="icon-mail icon-lg"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
                         aria-labelledby="notificationDropdown">
                        <a class="dropdown-item py-3 border-bottom">
                            <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
                            <span class="badge badge-pill badge-primary float-right">View all</span>
                        </a>
                        <a class="dropdown-item preview-item py-3">
                            <div class="preview-thumbnail">
                                <i class="mdi mdi-alert m-auto text-primary"></i>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject fw-normal text-dark mb-1">Application Error</h6>
                                <p class="fw-light small-text mb-0"> Just now </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item py-3">
                            <div class="preview-thumbnail">
                                <i class="mdi mdi-settings m-auto text-primary"></i>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject fw-normal text-dark mb-1">Settings</h6>
                                <p class="fw-light small-text mb-0"> Private message </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item py-3">
                            <div class="preview-thumbnail">
                                <i class="mdi mdi-airballoon m-auto text-primary"></i>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject fw-normal text-dark mb-1">New user registration</h6>
                                <p class="fw-light small-text mb-0"> 2 days ago </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="icon-bell"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
                         aria-labelledby="countDropdown">
                        <a class="dropdown-item py-3">
                            <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                            <span class="badge badge-pill badge-primary float-right">View all</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="images/faces/face10.jpg" alt="image" class="img-sm profile-pic">
                            </div>
                            <div class="preview-item-content flex-grow py-2">
                                <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="images/faces/face12.jpg" alt="image" class="img-sm profile-pic">
                            </div>
                            <div class="preview-item-content flex-grow py-2">
                                <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <img src="images/faces/face1.jpg" alt="image" class="img-sm profile-pic">
                            </div>
                            <div class="preview-item-content flex-grow py-2">
                                <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                                <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown d-none d-lg-block user-dropdown" th:unless="*{session.user}!=null">
                    <a type="button" class="btn btn-primary btn-sm" th:href="@{/user/login}">登录</a>
                    <a type="button" class="btn btn-success btn-sm" th:href="@{/user/register}">注册</a>
                </li>

                <li class="nav-item dropdown d-none d-lg-block user-dropdown" th:unless="*{session.user}==null">
                    <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-xs rounded-circle" src="../static/image/userAvatar01.jpeg" th:src="*{session.user}==null ? @{/image/userAvatar01.jpeg} : ${session.user.avatar}" alt="Profile image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <img class="img-sm rounded-circle" src="../static/image/userAvatar01.jpeg" th:src="*{session.user}==null ? @{/image/userAvatar01.jpeg} : ${session.user.avatar}" alt="Profile image">
                            <p class="mb-1 mt-3 font-weight-semibold" th:text="*{session.user}==null ? '访客' : ${session.user.username}">
                                Allen Moreno</p>
                            <p class="fw-light text-muted mb-0" th:text="*{session.user}==null ? '无' : ${session.user.email}">
                                allenmoreno@gmail.com</p>
                        </div>
                        <a class="dropdown-item">
                            <i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile
                            <span class="badge badge-pill badge-danger">1</span>
                        </a>
                        <a class="dropdown-item">
                            <i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> 消息
                        </a>
                        <a class="dropdown-item">
                            <i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> 文章
                        </a>
                        <a class="dropdown-item">
                            <i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> 资源
                        </a>
                        <a class="dropdown-item"  th:href="@{/user/logout}">
                            <i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>登出
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-bs-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper" th:fragment="replacerOfSettings">
            <div id="settings-trigger"><i class="ti-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border me-3"></div>
                    Light
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border me-3"></div>
                    Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="replacerOfSidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">首页</span>
                    </a>
                </li>
                <li class="nav-item nav-category">文档中台</li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false"
                       aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-comment-text-outline"></i>
                        <span class="menu-title">社区服务</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic1">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" th:href="@{/blog/list}">文章列表</a></li>
                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/dropdowns.html">文章分类</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic2" aria-expanded="false"
                       aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-book"></i>
                        <span class="menu-title">文献服务</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic2">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" th:href="@{/paper/list}">文献列表</a></li>
                            <li class="nav-item"><a class="nav-link" href="pages/ui-features/dropdowns.html">期刊杂志</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item nav-category">资源中台</li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                        <i class="menu-icon mdi mdi-server-network"></i>
                        <span class="menu-title">云服务器</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="form-elements">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">获取服务器</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">控制台</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false"
                       aria-controls="charts">
                        <i class="menu-icon mdi mdi-chart-line"></i>
                        <span class="menu-title">监控服务</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="pages/charts/chartjs.html">服务器监控</a></li>
                        </ul>
                    </div>
                </li>


                <li class="nav-item nav-category">数据中台</li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false"
                       aria-controls="auth">
                        <i class="menu-icon mdi mdi-database"></i>
                        <span class="menu-title">数据概览</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="pages/samples/login.html">地球物理数据</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-category">关于</li>
                <li class="nav-item">
                    <a class="nav-link" href="http://bootstrapdash.com/demo/star-admin2-free/docs/documentation.html">
                        <i class="menu-icon mdi mdi-file-document"></i>
                        <span class="menu-title">关于</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- partial -->
        <!-- 首页显示内容 -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="home-tab">
                            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                                           href="#overview" role="tab" aria-controls="overview" aria-selected="true">概览</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences"
                                           role="tab" aria-selected="false">文章列表</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#demographics"
                                           role="tab" aria-selected="false">文献列表</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more"
                                           role="tab" aria-selected="false">服务器列表</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content tab-content-basic">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="statistics-details d-flex align-items-center justify-content-between">
                                                <div>
                                                    <p class="statistics-title">文章数量</p>
                                                    <h3 class="rate-percentage">32</h3>
                                                </div>
                                                <div>
                                                    <p class="statistics-title">文章浏览量</p>
                                                    <h3 class="rate-percentage">3213</h3>
                                                </div>
                                                <div>
                                                    <p class="statistics-title">文献数量</p>
                                                    <h3 class="rate-percentage">32</h3>
                                                </div>
                                                <div class="d-none d-md-block">
                                                    <p class="statistics-title">文献浏览量</p>
                                                    <h3 class="rate-percentage">123</h3>
                                                </div>
                                                <div class="d-none d-md-block">
                                                    <p class="statistics-title">服务器数量</p>
                                                    <h3 class="rate-percentage">2</h3>
                                                </div>
                                                <div class="d-none d-md-block">
                                                    <p class="statistics-title">服务器使用量</p>
                                                    <h3 class="rate-percentage">32</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 d-flex flex-column">
                                            <div class="row flex-grow">
                                                <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                                                    <div class="card card-rounded">
                                                        <div class="card-body">
                                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <h4 class="card-title card-title-dash">服务器负载</h4>
                                                                    <h5 class="card-subtitle card-subtitle-dash">多台服务期节点的平均负载</h5>
                                                                </div>
                                                                <div id="performance-line-legend"></div>
                                                            </div>
                                                            <div class="chartjs-wrapper mt-5">
                                                                <canvas id="performaneLine"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 d-flex flex-column">
                                            <div class="row flex-grow">
                                                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                                                    <div class="card bg-primary card-rounded">
                                                        <div class="card-body pb-0">
                                                            <h4 class="card-title card-title-dash text-white mb-4">浏览下载量</h4>
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <p class="status-summary-ight-white mb-1">总浏览下载量</p>
                                                                    <h2 class="text-info">357</h2>
                                                                </div>
                                                                <div class="col-sm-8">
                                                                    <div class="status-summary-chart-wrapper pb-4">
                                                                        <canvas id="status-summary"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                                                    <div class="card card-rounded">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                                                        <div class="circle-progress-width">
                                                                            <div id="totalVisitors"
                                                                                 class="progressbar-js-circle pr-2"></div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="text-small mb-2">存储节点占用</p>
                                                                            <h4 class="mb-0 fw-bold">26.80%</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <div class="circle-progress-width">
                                                                            <div id="visitperday"
                                                                                 class="progressbar-js-circle pr-2"></div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="text-small mb-2">数据占用大小</p>
                                                                            <h4 class="mb-0 fw-bold">11GB</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--                                    区域分割 -->
                                    <div class="row">
                                        <div class="col-lg-8 d-flex flex-column">
                                            <div class="row flex-grow">
                                                <div class="col-12 grid-margin stretch-card">
                                                    <div class="card card-rounded">
                                                        <div class="card-body">
                                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <h4 class="card-title card-title-dash">文章列表</h4>
                                                                    <p class="card-subtitle card-subtitle-dash">更多文章请在左栏查看</p>
                                                                </div>
                                                                <a th:href="@{/user/addBlog}">
                                                                    <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button">
                                                                        <i class="mdi mdi-view-dashboard"></i>新增
                                                                    </button>
                                                                </a>
                                                            </div>

                                                            <!-- 文章列表标题 -->
                                                            <div class="table-responsive  mt-1" id="blogWholeDiv">
                                                                <table class="table select-table" th:fragment="blogList">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>序号</th>
                                                                        <th>标题</th>
                                                                        <th>作者</th>
                                                                        <th>评论数/浏览量</th>
                                                                        <th>发布日期</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <!-- 文章列表标题 -->
                                                                    <tbody>
                                                                    <tr th:each="blog,iterStat : ${blogs}">
                                                                        <!-- 序号 -->
                                                                        <td>
                                                                            <div class="">
                                                                                <p th:text="${iterStat.count}">1</p>
                                                                            </div>
                                                                        </td>
                                                                        <!-- 标题 -->
                                                                        <td>
                                                                            <div class="d-flex ">
                                                                                <div class="">
                                                                                    <a href="#" target="_blank" class="text-black fw-bold" style="text-decoration:none" th:text="${blog.title}">既能生成图像又能进行分类的ACGAN</a>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <!-- 作者 -->
                                                                        <td>
                                                                            <div class="d-flex ">
                                                                                <img src="../static/image/userAvatar01.jpeg" alt="" class="rounded-circle" th:src="${blog.userAvatar}">
                                                                                <div>
                                                                                    <h6 th:text="${blog.username}">作者</h6>
                                                                                    <p th:text="${blog.userEmail}">邮箱</p>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <!-- 浏览量 -->
                                                                        <td>
                                                                            <div>
                                                                                <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                                                                    <p th:text="${blog.likes} + '/' + ${blog.views}">
                                                                                        85/162</p>
                                                                                </div>
                                                                                <div class="progress progress-md">
                                                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <!-- 发布日期 -->
                                                                        <td>
                                                                            <div class="" th:text="${blog.createTime}">
                                                                                In progress
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row flex-grow">
                                                <div class="col-12 grid-margin stretch-card">
                                                    <div class="card card-rounded table-darkBGImg">
                                                        <div class="card-body">
                                                            <div class="col-sm-8">
                                                                <h3 class="text-white upgrade-info mb-0">
                                                                    Enhance your <span class="fw-bold">Campaign</span>for
                                                                    better outreach
                                                                </h3>
                                                                <a href="#" class="btn btn-info upgrade-btn">Upgrade
                                                                    Account!</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 d-flex flex-column">
                                            <div class="row flex-grow">
                                                <div class="col-12 grid-margin stretch-card">
                                                    <div class="card card-rounded">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <h4 class="card-title card-title-dash">文献列表</h4>
                                                                        <div class="add-items d-flex mb-0">
                                                                            <!-- <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> -->
                                                                            <button type="button" id="paperRefreshBtn" class="add btn btn-icons btn-rounded btn-primary todo-list-add-btn text-white me-0 pl-12p">
                                                                                <i class="mdi mdi-plus"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="list-wrapper" id="paperWholeDiv">
                                                                        <ul class="" th:fragment="paperList">
                                                                            <li class="d-block" th:each="paper : ${papers}">
                                                                                <div class="w-100">
                                                                                    <label class="d-flex mt-2">
                                                                                        <a href="#" target="_blank" class="ps-4 text-small me-3 text-black fw-bold" style="text-decoration:none" th:text="${paper.name}">基于深度学习卷积神经网络的地震数据随机噪声去除</a>
                                                                                    </label>
                                                                                    <div class="d-flex mt-2">
                                                                                        <div class="ps-4 text-small me-3" th:text="${paper.author}">
                                                                                            韩卫雪,周亚同,池越
                                                                                        </div>
                                                                                        <div class="ps-4 text-small me-3" th:text="${paper.publisher}">
                                                                                            石油物探
                                                                                        </div>
                                                                                        <i class="mdi mdi-file me-3 flag-color"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                        Design by boyLen
                    </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2022. All rights reserved.</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="../static/lib/thirdpart/js/vendor.bundle.base.js" th:src="@{/lib/thirdpart/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../static/lib/thirdpart/chart.js/Chart.min.js" th:src="@{/lib/thirdpart/chart.js/Chart.min.js}"></script>
<script src="../static/lib/thirdpart/bootstrap-datepicker/bootstrap-datepicker.min.js" th:src="@{/lib/thirdpart/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script src="../static/lib/thirdpart/progressbar.js/progressbar.min.js" th:src="@{/lib/thirdpart/progressbar.js/progressbar.min.js}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../static/js/off-canvas.js" th:src="@{/js/off-canvas.js}"></script>
<script src="../static/js/hoverable-collapse.js" th:src="@{/js/hoverable-collapse.js}"></script>
<script src="../static/js/template.js" th:src="@{/js/template.js}"></script>
<script src="../static/js/settings.js" th:src="@{/js/settings.js}"></script>
<script src="../static/js/todolist.js" th:src="@{/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../static/js/jquery.cookie.js" type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
<script src="../static/js/dashboard.js" th:src="@{/js/dashboard.js}"></script>
<script src="../static/js/Chart.roundedBarCharts.js" th:src="@{/js/Chart.roundedBarCharts.js}"></script>
<!-- End custom js for this page-->

<script>
    setTimeout(function () {
        loadBlog();
    }, 200);

    setTimeout(function () {
        loadPaper();
    }, 500);

    $('#paperRefreshBtn').click(function () {
        loadPaper();
    });

    function loadPaper() {
        $("#paperWholeDiv").load(/*[[@{/index/paper}]]*/"/index/paper", {
            // title : $("[name='title']").val(),
        });
    }

    function loadBlog() {
        $("#blogWholeDiv").load(/*[[@{/index/paper}]]*/"/index/blog", {
            // title : $("[name='title']").val(),
        });
    }
</script>
</body>

</html>

