<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!--    用于设置尺寸适配移动端-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理后台</title>
    <!--    Semantic的CSS包-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <!--    自定义CSS导入。必须加rel="stylesheet"才可以生效！-->
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../../static/css/text.css" th:href="@{/css/text.css}">
    <link rel="stylesheet" href="../../static/css/logic.css" th:href="@{/css/logic.css}">
    <link rel="stylesheet" href="../../static/css/button.css" th:href="@{/css/button.css}">
    <link rel="stylesheet" href="../../static/css/display.css" th:href="@{/css/display.css}">
    <link rel="stylesheet" href="../../static/css/LRMme.css" th:href="@{/css/LRMme.css}">
    <link rel="stylesheet" href="../../static/css/LRManimate.css" th:href="@{/css/LRManimate.css}">
    <link rel="stylesheet" href="../../static/css/LRMtypo.css" th:href="@{/css/LRMtypo.css}">
</head>
<body>
<!--****** 导包 ******-->
<!--    JQuery包-->
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<!--    Semantic的JS包-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/css/editormd.min.css}"></script>


<!--****** 导航 ******-->
<!--
ui:表示调用Semantic的导航模版
inverted:表示导航采用白色反转的颜色——黑色
attached:轨道可以依附在主窗口
-->
<nav class="ui inverted attached segment LenCSS-m-padded-tb-mini LenCssDisplay-shadow-middle">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui blue header item">LenCloud Admin</h1>
            <a href="#" th:href="@{/admin/admin_article}" id="a_top_label1" class="item LenCssLogic-mobile-hide"><i class="home icon"></i>文章</a>
            <a href="#" th:href="@{/admin/admin_types}" id="a_top_label2" class="item LenCssLogic-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/admin/admin_tags}" id="a_top_label3" class="item LenCssLogic-mobile-hide"><i class="tags icon"></i>标签</a>
            <div id="div_dropdown_user_label" class="right menu LenCssLogic-mobile-hide">
                <div id="dropdown_user_label" class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/image/icon_little/icon020.png" class="ui avatar image">
                        长寿花
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="button_sidebar" class="ui black icon button LenCssButton-position-right-top LenCssLogic-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--导航栏下面的标签页-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="active item">发布</a>
            <a href="#" class="teal item">列表</a>
        </div>
    </div>
</div>


<!--****** 中间内容 ******-->
<div class="LenCSS-Pad-middle-div1">
    <div class="ui container">
        <form id="blog-form" action="#" th:action="@{/admin/admin_article}" method="post" class="ui form">
            <input type="hidden" name="published" th:value="*{published}">
            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui selection compact teal basic dropdown label">
                        <input type="hidden" value="原创" name="flag">
                        <i class="dropdown icon"></i>
                        <div class="text">原创</div>
                        <div class="menu">
                            <div class="item" data-value="1">原创</div>
                            <div class="item" data-value="2">转载</div>
                            <div class="item" data-value="3">翻译</div>
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="标题">
                </div>
            </div>

            <!--            MarkDown编辑器-->
            <div class="required field">
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea placeholder="博客内容" name="content">
# 这是Markdown编辑器
   --By LenCloud
                    </textarea>
                </div>
            </div>

            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">分类</label>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="type.id">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">标签</label>
                        <div class="ui fluid selection multiple search dropdown">
                            <input type="hidden" name="tagIds">
                            <i class="dropdown icon"></i>
                            <div class="default text">标签</div>
                            <div class="menu">
                                <div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">java</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">首图</label>
                    <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="首图引用地址">
                </div>
            </div>

<!--            如果该div不放在form中，则下面4个checkbox会竖排显示，放在form中后会正常横向一排显示-->
            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="id_recommend" name="recommend" checked class="hidden">
                        <label for="id_recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="id_shareStatement" name="shareStatement" class="hidden">
                        <label for="id_shareStatement">转载声明</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="id_appreciation" name="appreciation" class="hidden">
                        <label for="id_appreciation">赞赏</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="id_commentabled" name="commentabled" class="hidden">
                        <label for="id_commentabled">评论</label>
                    </div>
                </div>
            </div>

            <!--        用于存放错误信息-->
            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <!--            button的类型有三种：button、submit、reset。button是按钮后触发函数，submit是按下后提交表单。-->
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button type="button" id="save-btn" class="ui secondary button">保存</button>
                <button type="button" id="publish-btn" class="ui teal button">发布</button>
            </div>

        </form>
    </div>
</div>






<!--****** 底部footer ******-->
<footer class="ui inverted vertical segment">
    <div class="ui center aligned container">
        <!--        grid一共有16份-->
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <img src="../../static/image/index/bottom_code.png" class="ui rounded image" alt="" style="width: 7em">
            </div>

            <div class="ui four wide column">
                <h4 class="ui inverted header LenCSS-Text-little-header">承办方</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">IOT研究组</a>
                    <a href="#" class="item">UPC地学院</a>
                    <a href="#" class="item">中石油集团</a>
                </div>
            </div>

            <div class="ui four wide column">
                <h4 class="ui inverted header LenCSS-Text-little-header">用户服务</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">云平台公告</a>
                    <a href="#" class="item">反馈与建议</a>
                    <a href="#" class="item">管理员申请</a>
                </div>
            </div>

            <div class="ui four wide column">
                <h4 class="ui inverted header LenCSS-Text-little-header">关于LenCloud</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">云平台简介</a>
                    <a href="#" class="item">联系开发者</a>
                    <a href="#" class="item">隐私与政策</a>
                </div>
            </div>
        </div>
        <br>
        <p class="LenCssText-Opacity-L">Copyright © 2021-2023 LenCloud designed by boyLen</p>
    </div>
</footer>

<script>
    //初始化Markdown编辑器
    var contentEditor;
    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            //        path    : "../static/lib/editormd/lib/"
            //        path    : "../../static/lib/editormd/lib/"  // 静态页面下的路径
            //        path    : "/lib/editormd/lib/"  // Tomcat下的路径
            path    : "../../static/lib/editormd/lib/"
        });
    });

    $('#button_sidebar').click(function () {
        $('#a_top_label1, #a_top_label2, #a_top_label3, #div_dropdown_user_label').toggleClass('LenCssLogic-mobile-hide');
    });

    $('#dropdown_user_label.dropdown').dropdown({
        on : 'hover'
    });

    $(function(){
        $('.ui.selection.dropdown').dropdown();
    });

    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });

    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    });

    // 所控制的组件必须在form中才可以
    $('.ui.form').form({
        fields : {
            title : {
                identifier: 'title',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请输入博客标题'
                }]
            },
            content : {
                identifier: 'content',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请输入博客内容'
                }]
            },
            typeId : {
                identifier: 'type.id',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请输入博客分类'
                }]
            },
            firstPicture : {
                identifier: 'firstPicture',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请输入博客首图'
                }]
            },
            description : {
                identifier: 'description',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请输入博客描述'
                }]
            }
        }
    });
</script>

</body>
</html>